.fontSize{
  font-size: 20px;
}
.backImage{
    text-align: center;
}
p{
    word-spacing: 2px;
    line-height: 2;
    color:rgb(24, 21, 21)
}
.avatar {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }